<?xml version="1.0" encoding="utf-8" ?>
<!--当前项目统一的配置文件-->
<ArrayOfConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--//Beging-NewMyCat日志配置信息-->
  <ConfigInfo_NewMyCat>
    <!--项目名称-->
    <Project>项目名称</Project>
    <!--项目编码-->
    <ProjectCode>项目编码</ProjectCode>
    <!--Cat本身错误日志打点信息的存储路径-->
    <CatErrorLogName>CatError.log</CatErrorLogName>
    <!--log4net日志配置文件-按日期自动切割多个文件-->
    <Log4NetConfigFileName>Config\log4netByDate.config</Log4NetConfigFileName>
    <!--log4net日志配置文件-Logger节点-->
    <Log4ConfigLoggerName>LoggerForNewMyCat</Log4ConfigLoggerName>
  </ConfigInfo_NewMyCat>
  <!--//End-NewMyCat日志配置信息-->
</ArrayOfConfigInfo>

